/* ---------------------------------
Cols
--------------------------------- */

@import "../../styles/partials/theme";

.Cols {
  .slide-frame {
    padding: 6rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .col-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0 6rem;

    .content {
      text-align: center;
      line-height: 1.6;

      img {
        display: block;
        padding: 2rem 8rem;
        max-width: 100%;
      }

      h3,
      p {
        margin: 0;
      }

      h3 {
        color: $accent-03;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
    }
  }
}
