/* ---------------------------------
Blank
--------------------------------- */

@import "../../styles/partials/theme";

.Blank {
  .slide-content {
    justify-content: center;
    grid-template-columns: 40% 1fr;
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    // display: grid;
    // place-content: center;

    &:nth-child(2) {
      background-color: #f2f2f2;
      height: 100%;
      overflow-y: scroll;
    }
  }

  .slide-title {
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
    position: relative;
    top: -28px;
  }

  .injectedContent {
    font-size: 1.8rem;
    line-height: 2;
    padding: 8rem 3rem;
    //
    display: grid;
    justify-content: center;

    h3,
    h4,
    h5,
    h6 {
      color: #444;
      margin: 0;

      ~ pre {
        padding-top: 0;
      }
    }

    pre {
      line-height: 1.21;
      padding: 15% 3rem;
    }
  }
}
