/* ---------------------------------
Split
--------------------------------- */

@import "../../styles/partials/theme";

.Split {
  // @include slideFoundation();

  .slide-content {
    grid-template-columns: 1fr 1fr;

    .content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 6rem;

      &:first-child {
        background-color: white;
        justify-content: space-between;
        align-items: flex-start;
      }

      &:last-child {
      }
    }

    .slide-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      h6 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 4px;
        font-weight: 400;
      }

      img {
        height: 60px;
        margin-right: 2rem;
      }
    }

    .slide-footer {
      // position: relative;
      // font-size: 1.4rem;

      // &::before {
      //   content: "";
      //   position: absolute;
      // }
    }

    .slide-title {
      font-size: 4rem;
      font-weight: 400;
      margin: 0;
      position: relative;
      top: -28px;
    }

    .injectedContent {
      color: white;
      font-size: 2.2rem;
      line-height: 2;

      ul {
        li {
          list-style-type: square;
        }
      }
    }
  }
}
