/* ---------------------------------
Split
--------------------------------- */

@import "../../styles/partials/theme";

.Split {
  // @include slideFoundation();

  .slide-content {
    grid-template-columns: 1fr 1fr;

    .content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 6rem;

      &:first-child {
        background-color: white;
        justify-content: space-between;
        align-items: flex-start;
      }

      &:last-child {
      }
    }

    .slide-title {
      font-size: 4rem;
      font-weight: 400;
      margin: 0;
      position: relative;
      top: -28px;
    }

    .injectedContent {
      color: white;
      font-size: 2.2rem;
      line-height: 2;

      ul {
        li {
          list-style-type: square;
        }
      }
    }
  }
}
