/* ---------------------------------
SectionTitle
--------------------------------- */

@import "../../styles/partials/theme";

.SectionTitle {
  .slide-content {
    .content {
      padding: 6rem;
      background-color: black;
    }

    .slide-title.injectedContent {
      font-size: 6rem;
      font-weight: 400;
      margin: 0;
      text-align: left;
      color: white;
      line-height: 1.6;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      height: calc(100% - 80px);
      // background: linear-gradient(to right, $accent-02, $accent-01);
      // // TODO
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;

      > * {
        margin: 0;
      }
    }
  }
}
