/* ---------------------------------
SectionTitle
--------------------------------- */

@import "../../styles/partials/theme";

.SectionTitle {
  .slide-content {
    .content {
      padding: 6rem;
      background-color: black;
    }

    .slide-header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      h6 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 4px;
        font-weight: 400;
        color: white;
      }

      img {
        height: 60px;
        margin-right: 2rem;
        position: relative;
        // TODO
        margin-right: 2rem;
      }
    }

    .slide-title.injectedContent {
      font-size: 6rem;
      font-weight: 400;
      margin: 0;
      text-align: left;
      color: white;
      line-height: 1.6;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      height: calc(100% - 80px);
      // background: linear-gradient(to right, $accent-02, $accent-01);
      // // TODO
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;

      > * {
        margin: 0;
      }
    }
  }
}
