/* ---------------------------------
common
--------------------------------- */

@import "./logic";
@import "./vendor";
@import "./typography";
@import "./colors";

@include init(false, true);

:root > body {
  font-family: $font;
  font-weight: 400;
  color: black;
}
