/* ---------------------------------
Cover
--------------------------------- */

@import "../../styles/partials/theme";

.Cover {
  @include slideFoundation(false);

  .slide-content {
    place-content: center;
  }

  .cover-title {
    font-size: 12rem;
    font-weight: 300;
    color: whitesmoke;
  }
}
