/* ---------------------------------
FullPage
--------------------------------- */

@import "../../styles/partials/theme";

.FullPage {
  // @include slideFoundation();

  .slide-content {
    .content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      // padding: 6rem;
    }

    .slide-title.injectedContent {
      font-size: 6rem;
      font-weight: 400;
      margin: 0;
      text-align: center;
      align-self: center;
      color: white;
      line-height: 1.6;
      // TODO
      position: relative;
      top: -40px;

      > * {
        margin: 0;
      }
    }
  }
}
