/* ---------------------------------
Cover
--------------------------------- */

.Cover {
  @include slideFoundation(false);

  background: linear-gradient(45deg, $accent-02, $accent-01);

  .slide-content {
    place-content: center;
  }

  .settings-menu {
    position: fixed;
    right: 0;
    padding: 1rem;
    // TODO
    top: calc(100vh - (2rem + 20px));
  }
}
