/* ---------------------------------
Settings
--------------------------------- */

.Settings {
  background: linear-gradient(45deg, $accent-02, $accent-01);

  .slide-content {
    @include container(60rem);
    gap: 1rem;
    align-content: center;
  }

  .back-button {
    @extend %resetAnchors;

    width: 7rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px dashed white;
    }

    i.material-icons {
      font-size: inherit;
    }
  }

  .settings-form {
    background-color: white;
    padding: 5rem 3rem 3rem;
    border-radius: 4px;
    box-shadow: 0 20px 40px 10px rgba(black, 0.25);

    .InputField:last-of-type {
      > .settings-field {
        border-bottom: 0;
        margin-bottom: 3rem;
      }
    }

    .settings-field {
      border-bottom: 2px solid whitesmoke;
      margin-bottom: 2rem;

      &[disabled] {
        color: rgba(black, 0.4);
      }
      // &:not([disabled]) {
      //   margin-bottom: 2rem;
      // }
    }
  }

  .page-title {
    margin: 0 0 2rem;
    font-weight: 300;
    font-size: 3rem;
    color: $accent-03;
  }
}
