/* ---------------------------------
Settings
--------------------------------- */

.Settings {
  background: linear-gradient(45deg, $accent-02, $accent-01);

  .slide-content {
    @include container(60rem);
    gap: 1rem;
    align-content: center;
  }

  .settings-form-header {
    @include flex(row nowrap, flex-start, center);
    font-size: 3rem;
    margin-bottom: 2rem;

    .page-title {
      margin: 0;
      font-weight: 300;
      color: $body-01;
    }

    .back-button {
      @extend %resetAnchors;
      padding: 0 0.6rem;
      margin-right: 0.2rem;
      line-height: 1.15;
      margin-bottom: -3px;
      transition: color 0.2s ease;
      color: lighten($body-01, 40%);

      i.material-icons {
        font-size: 2.4rem;
      }

      &:hover {
        color: $body-01;
      }
    }
  }

  .settings-form {
    background-color: white;
    padding: 5rem 3rem 3rem;
    border-radius: 4px;
    box-shadow: 0 20px 40px 10px rgba(black, 0.25);

    .InputField:last-of-type {
      > .settings-field {
        border-bottom: 0;
        margin-bottom: 3rem;
      }
    }

    .settings-field {
      border-bottom: 2px solid whitesmoke;
      margin-bottom: 2rem;

      &[disabled] {
        color: rgba(black, 0.4);
      }
      // &:not([disabled]) {
      //   margin-bottom: 2rem;
      // }
    }
  }
}
