/* ---------------------------------
Slide.scss    
--------------------------------- */

@import "../../styles/partials/theme";

.Slide {
  @include slideFoundation();

  .slide-content {
    display: grid;
    height: inherit;
    width: inherit;
  }
}
