/* ---------------------------------
Slide.scss    
--------------------------------- */

@import "../../styles/partials/theme";

.Slide {
  @include slideFoundation();

  .slide-content {
    display: grid;
    height: inherit;
    width: inherit;

    .content {
      padding: 12rem 4rem 6rem;
    }
  }

  &.SectionTitle {
    .SlideHeader {
      h6 {
        color: whitesmoke;
      }
    }
  }
}
